
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600&display=swap');

/*Fondo svg y color acorde*/
:root {
    --verde-oscuro: #0A3223;
    --verde-claro: #0BBD79;
    --rojo-titulo: #c04200;
    --blanco-letra: #f5f0ed;
    --hover-btn:#cebb0d;
  }


body {
    margin: 0;
    padding: 0;
    background-color: var(--verde-oscuro);
    background-position: bottom;
}

.contenedor-principal{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.contendedor-app{
    margin: 1rem 1rem 1rem 1rem;
    width: 30vw;
    background-color: none;
    padding: 0rem;
}


fieldset{
    border: transparent;
    background-color: var(--verde-claro);
    margin: 1rem;
    padding: 2rem;
    border-radius: 15px 120px 15px 15px;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
    margin-left: -2rem;
}

/*----------Reglas para barra de progreso de cambio archivos--------------*/

.der{
    margin-top: 15rem;
    padding: 0;
}

::-moz-progress-bar {
    background-color: var(--rojo-titulo);
    border-radius: 20px;
  }


#progressBar{
    width: 0%;
    height: 1rem;
    text-align: center;
    line-height: 40px;
    color: white;
    border: none;
    border-radius: 25px;
}

/*--------------Termino codigo de barra----------------*/

label {
    padding-right: 10px;
    font-size: 1rem;
}

img{
    margin: 0;
}

/*Titulo*/
.nombre{
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--rojo-titulo);
}

/*Input redondeado*/
input[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: #a0d18c;
     width: 250px;
     height: 30px;
     padding-left: 10px;
     margin-top: 1rem;
     margin-bottom: 1rem;
    }
    
input[type=text]:focus {
     outline: none;
     border: 1px solid #a0d18c;
     color: #2d9fd9;
}

/*Boton procesar*/
#btn-procesar{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--blanco-letra);
    background-color: var(--verde-oscuro);
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 50px;
    margin-bottom:0rem;
}

#btn-procesar:hover{
    color: var(--blanco-letra);
    background-color: var(--hover-btn);
    
}

#btn-procesar:active{
    font-size: 1.5rem;
}

.cont-btn{
    text-align: right;
}

/*Texto footer*/
.texto-inferior h5{
    color: var(--blanco-letra);
    background-color: none;
    height: 2rem;
    margin: 0rem 2rem 1rem 3rem;
    padding: 0rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    width: 60%;
    font-size: 0.7rem;
}

/*Media queries Desktop y tablet*/

@media only screen and (max-width: 480px) {
    body {
      flex-direction: column;
    }
  }
  